.header {
  max-width: 570px;
  color: #e73f25;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}.header h1{
  letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 800;
    line-height: 121%;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header h6{
  color: #ef8408;
    text-align: center;
    letter-spacing: .06em;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 136%;
}
.header p{
  max-width: 600px;
    text-align: center;
    letter-spacing: -.02em;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 156%;font-weight: 400;
}
.dev-bg-img{
  z-index: -1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 34%;
    bottom: 0%;
    left: 0%;
    right: 0%
}img{
  max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    verflow-clip-margin: content-box;
    overflow: clip;
}
.dev h2{
  letter-spacing: -.01em;
    margin-top: 0;font-weight: 700;
    margin-bottom: 20px;
    font-size: 32px;
}.dev P{
  text-align: center;color: rgb(42, 42, 42);
    letter-spacing: -.02em;
    margin-bottom: 20px;
    font-size: 18px;font-weight: 500;
    line-height: 156%;
}

.dev-container {
  display: flex;margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.dev {
  width: 100%;
    height: 100%;
    max-width: 570px;
    background-color: #fffefe;
    border-radius: 12px;
    padding: 60px 40px;
    box-shadow: 14px 14px 100px rgba(0, 0, 0, .09);
    text-align: center;margin: 20px;
}


/* BUILD START HERE */
.Build-space{margin-top: 200px;margin-bottom: 30px;}
.Build_display{display: flex;justify-content:space-evenly;align-items: center;
}
.Build-bg{
  background: linear-gradient(to left top,#ffb070, #f1541b, #f97000);
  min-height: 80vh;padding-top: 90px;
}
.Build-content h1{
  font-weight: 700;font-size: 45px;color: rgb(255, 255, 255);line-height: 50px;margin-bottom: 25px;
}.Build-content p{font-size: 18px;font-weight: 500;color: rgb(241, 237, 237);padding-bottom: 30px;}

@media screen and (max-width: 900px) {
  .Build_display{display: block;justify-content:space-evenly;align-items: center;}
  .Build_display img{margin:auto;padding-left: px;}
}

@media screen and (max-width: 600px) {
  .header h1{
      font-size: 30px; 
  }
  
  .header h6{
      font-size: 19px;
      margin-bottom: 28px;
  }
  .header p{
    max-width: 350px;
    font-size: 15px;
  }
  .header {
    margin-top: 70px;
  }
  /*  */

  .dev-bg-img{
      top: 48%;
  }.dev img{width: 45%;}
  .dev h2{
      font-size: 28px;padding-top: 18px;
  }
  
  .dev-container {
   margin-top: 40px; 
  }
  .dev {
    width: 120%;
      height: 100%;
      max-width: 590px;
      background-color: #fffefe;
      border-radius: 12px;
      padding: 16px 10px;
      box-shadow: 14px 14px 100px rgba(0, 0, 0, .09);
      text-align: center;margin: 8px;
  }

  /* buid start here */
  .Build-content h1{
    font-weight: 700;font-size: 26px;line-height: 30px;margin-bottom: 20px;padding-left: 20px;
  }.Build-content p{font-size: 14px;font-weight: 400;color: rgb(241, 237, 237);padding-bottom: 0px;padding-left: 20px}
  #book{margin-left: 20px;margin-bottom: 30px;}

  #input{display: none;}
  #btn{display: none;}
}

